<div
  class="items-center justify-center [&.close-mobile-menu--mobile-menu-open]:flex close-mobile-menu fixed h-10 ml-[275px] sm:hidden w-10 z-50">
  <a class="ml-5 mt-5" href="">
    <i class="stroke-[1] h-8 text-black w-8" data-tw-merge="" data-lucide=x></i>
  </a>
</div>
<div
  class="duration-300 flex gradient-background after:-mr-4 after:absolute after:bg-[center_-20rem] after:bg-contain after:bg-fixed after:bg-no-repeat after:bg-texture-white after:content-[``] after:inset-0 bg-gradient-to-b border-transparent box flex-col   group-[.side-menu--collapsed.side-menu--on-hover]:xl:shadow-[6px_0_12px_-4px_#0000000f] group-[.side-menu--collapsed.side-menu--on-hover]:xl:w-[275px] group-[.side-menu--collapsed]:xl:w-[91px] h-full overflow-hidden relative rounded-xl side-menu__content transition-[width] z-20">
  <div
    class="justify-between items-center logo_image duration-300 before:absolute before:border-dashed before:border-r before:border-white/[0.15] before:content-[``] before:group-[.side-menu--collapsed.side-menu--on-hover]:xl:hidden before:h-4/6 before:right-0 flex-none group-[.side-menu--collapsed.side-menu--on-hover]:xl:w-[275px] group-[.side-menu--collapsed]:xl:w-[91px]  overflow-hidden   relative xl:flex xl:w-[275px] z-10">
    <a class="items-center duration-300 branding flex group-[.side-menu--collapsed.side-menu--on-hover]:xl:ml-0 group-[.side-menu--collapsed]:xl:ml-4 transition-[margin]"
      href="/app">
      <img alt="" src="{{ logo }}">
      <div
        class="project_title heading group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100 group-[.side-menu--collapsed]:xl:opacity-0 transition-opacity">
        {{ company }}</div>
    </a>
    <a class="group-[.side-menu--collapsed]:xl:rotate-180 hover:bg-white/5  group-[.side-menu--collapsed]:xl:opacity-0 group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100 right_angle text-black toggle-compact-menu transition-[opacity,transform] tw-hidden xl:flex"
        href="">
        <i class="h-3.5 stroke-[1.3] w-3.5 stroke-white/60" data-tw-merge="" data-lucide=arrow-left></i>
      </a>
  </div>
  <div class="border_bottom"></div>
  <div
    class="h-full z-20 [&:-webkit-scrollbar]:bg-transparent [&:-webkit-scrollbar]:w-0 [&_.simplebar-content]:p-0 [&_.simplebar-track.simplebar-vertical]:mr-0.5 [&_.simplebar-track.simplebar-vertical]:w-[10px] [&_.simplebar-track.simplebar-vertical_.simplebar-scrollbar]:before:bg-slate-400/30 [-webkit-mask-image:-webkit-linear-gradient(top,rgba(0,0,0,0),black_30px)]  pb-3 scrollable-ref w-full">
    <ul class=scrollable>
      <li class="side-menu__divider d-none"></li>{% for page in pages %} <li>
        <div class=side-menu__link>
          <a class="link_to_page align-items-center d-flex" href=javascript:; data-title="{{ page.title }}"
            data-is_public="{{ page.public }}">
            <span>
              <!-- <span class="stroke-[1] h-5 w-5 side-menu__link__icon" data-tw-merge="" item-icon="{{ page.icon }}">  -->
              <svg class="icon icon-md" aria-hidden="true">
                <use href="#icon-{{ page.icon }}" class="" aria-hidden="true"></use>
              </svg>
            </span>
            <div class=side-menu__link__title>{{ _(page.title) }}</div>
          </a>{% if page.cards.items %} <i class="stroke-[1] h-5 w-5 cursor-pointer side-menu__link__chevron"
            data-tw-merge="" data-lucide=chevron-down></i> {% endif %}
        </div>
        {% if page.cards["items"] %} <ul style=display:none>{% for card in page.cards["items"] %} <li>
            <a class=side-menu__link href=javascript:;>
              <div class=side-menu__link__title>{{ _(card.label) }}</div>
              <i class="stroke-[1] h-5 w-5 cursor-pointer side-menu__link__chevron" data-tw-merge=""
                data-lucide=chevron-down></i>
            </a>
            <ul style=display:none>{% for link in card.links %} <li>
                <a class="side-menu__link link_to_page" href=javascript:; data-title="{{ link.link_to }}"
                  data-is_link=1>
                  <div class=side-menu__link__title>{{ _(link.label) }}</div>
                </a>
              </li>{% endfor %}
            </ul>
          </li>{% endfor %} </ul>{% endif %}
      </li>{% endfor %}
    </ul>
  </div>
</div>